/* PAGE BANNER */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.page-banner {
    height: 40vh;
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("https://cdn1.tripoto.com/media/filter/tst/img/2176903/Image/1659510829_meghalaya_b_2.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* ABOUT SECTION */
.about-section {
    padding: 50px;
}

.about-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.about-text {
    flex: 1;
}

.about-text h3 {
    color: #1b4332;
    margin-bottom: 10px;
}

.about-text p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

/* FACTS */
.facts {
    background-color: #f1f8f5;
    padding: 40px;
    text-align: center;
}

.facts ul {
    list-style: none;
    margin-top: 20px;
}

.facts li {
    margin: 10px 0;
}
header {
    background-color: #1b4332;
    padding: 15px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active,nav ul li a:hover {
    text-decoration: underline;
    
}